### Import Libraries

In [242]:
import pandas as pd
import numpy as np
import os

### Import Data

In [244]:
# Path
Path= r"C:\Users\nabar\OneDrive\Documents\A6 Project"
# df
df = pd.read_csv(os.path.join(Path, '02 Data', 'Original Data', 'cleaned_dataset00.csv'))

In [245]:
# Check the structure and data types
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1985 entries, 0 to 1984
Data columns (total 28 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   CASE_NO_PATIENT'S                                   1985 non-null   int64
 1   A1                                                  1985 non-null   int64
 2   A2                                                  1985 non-null   int64
 3   A3                                                  1985 non-null   int64
 4   A4                                                  1985 non-null   int64
 5   A5                                                  1985 non-null   int64
 6   A6                                                  1985 non-null   int64
 7   A7                                                  1985 non-null   int64
 8   A8                                                  1985 non-null   int64
 9   A9                                                  1985 non-null   int64
 10  A10_Autism_Spectrum_Quotient                        1985 non-null   int64
 11  Social_Responsiveness_Scale                         1976 non-null   float64
 12  Age_Years                                           1985 non-null   int64
 13  Qchat_10_Score                                      1985 non-null   float64
 14  Speech Delay/Language Disorder                      1985 non-null   object
 15  Learning disorder                                   1985 non-null   object
 16  Genetic_Disorders                                   1985 non-null   object
 17  Depression                                          1984 non-null   object
 18  Global developmental delay/intellectual disability  1985 non-null   object
 19  Social/Behavioural Issues                           1971 non-null   object
 20  Childhood Autism Rating Scale                       1985 non-null   int64
 21  Anxiety_disorder                                    1985 non-null   object
 22  Sex                                                 1985 non-null   object
 23  Ethnicity                                           1985 non-null   object
 24  Jaundice                                            1985 non-null   object
 25  Family_mem_with_ASD                                 1985 non-null   object
 26  Who_completed_the_test                              1985 non-null   object
 27  ASD_traits                                          1985 non-null   int64
dtypes: float64(2), int64(14), object(12)
memory usage: 434.3+ KB
None

### Check for Missing Value

In [247]:
# Check for missing values
miss_values = df.isnull().sum()
print(miss_values)

CASE_NO_PATIENT'S                                      0
A1                                                     0
A2                                                     0
A3                                                     0
A4                                                     0
A5                                                     0
A6                                                     0
A7                                                     0
A8                                                     0
A9                                                     0
A10_Autism_Spectrum_Quotient                           0
Social_Responsiveness_Scale                            9
Age_Years                                              0
Qchat_10_Score                                         0
Speech Delay/Language Disorder                         0
Learning disorder                                      0
Genetic_Disorders                                      0
Depression                                             1
Global developmental delay/intellectual disability     0
Social/Behavioural Issues                             14
Childhood Autism Rating Scale                          0
Anxiety_disorder                                       0
Sex                                                    0
Ethnicity                                              0
Jaundice                                               0
Family_mem_with_ASD                                    0
Who_completed_the_test                                 0
ASD_traits                                             0
dtype: int64

#### Observation: 
Social/Behavioural Issues has 14, Qchat_10_Score has 39, Depression has 1 and Social_Responsiveness_Scale 9 missing values.

In [249]:
# Filling Numeric missing values by median in column Qchat_10_Score
columns_to_fill = ['Qchat_10_Score']  
for col in columns_to_fill:
    if df[col].isnull().sum() > 0:  # Check if the column has missing values
        df[col] = df[col].fillna(df[col].median())  # Replace only missing values

In [250]:
# Filling Missing Value in Social/Behavioural Issues and Depression
df.loc[df['Social/Behavioural Issues'].isnull(), 'Social/Behavioural Issues'] = "N/A"
df.loc[df['Depression'].isnull(), 'Depression'] = "N/A"

In [251]:
# Filling Missing Value in Social_Responsiveness_Scale
df['Social_Responsiveness_Scale'] = df['Social_Responsiveness_Scale'].astype('object')
df.loc[df['Social_Responsiveness_Scale'].isnull(), 'Social_Responsiveness_Scale'] = "N/A"

In [252]:
miss_values = df.isnull().sum()
print(miss_values)

CASE_NO_PATIENT'S                                     0
A1                                                    0
A2                                                    0
A3                                                    0
A4                                                    0
A5                                                    0
A6                                                    0
A7                                                    0
A8                                                    0
A9                                                    0
A10_Autism_Spectrum_Quotient                          0
Social_Responsiveness_Scale                           0
Age_Years                                             0
Qchat_10_Score                                        0
Speech Delay/Language Disorder                        0
Learning disorder                                     0
Genetic_Disorders                                     0
Depression                                            0
Global developmental delay/intellectual disability    0
Social/Behavioural Issues                             0
Childhood Autism Rating Scale                         0
Anxiety_disorder                                      0
Sex                                                   0
Ethnicity                                             0
Jaundice                                              0
Family_mem_with_ASD                                   0
Who_completed_the_test                                0
ASD_traits                                            0
dtype: int64

### Check for Duplicate Values

In [254]:
duplicates = df[df.duplicated()]
print(duplicates)  # Displays duplicate rows

Empty DataFrame
Columns: [CASE_NO_PATIENT'S, A1, A2, A3, A4, A5, A6, A7, A8, A9, A10_Autism_Spectrum_Quotient, Social_Responsiveness_Scale, Age_Years, Qchat_10_Score, Speech Delay/Language Disorder, Learning disorder, Genetic_Disorders, Depression, Global developmental delay/intellectual disability, Social/Behavioural Issues, Childhood Autism Rating Scale, Anxiety_disorder, Sex, Ethnicity, Jaundice, Family_mem_with_ASD, Who_completed_the_test, ASD_traits]
Index: []

[0 rows x 28 columns]

### Obsevation:
There is no duplicate value.

### Coverting Yes and No to 1 and 0

#### ASD_traits Column Issue

In [258]:
# Coverting Yes and No in ASD_traits to 1 and 0
df['ASD_traits'] = df['ASD_traits'].map({'Yes': 1, 'No': 0})

In [259]:
print(df['ASD_traits'].value_counts(dropna=False))  # Check existing values

ASD_traits
NaN    1985
Name: count, dtype: int64

In [260]:
df = pd.read_csv(os.path.join(Path, '02 Data', 'Original Data', 'cleaned_dataset00.csv'))

In [261]:
df['ASD_traits'] = df['ASD_traits'].replace({'Yes': 1, 'No': 0})

In [262]:
print(df['ASD_traits'].value_counts())

ASD_traits
1    1074
0     911
Name: count, dtype: int64

In [263]:
df[columns_to_convert] = df[columns_to_convert].replace({"Yes": 1, "No": 0}).fillna(0).astype(int)

C:\Users\nabar\AppData\Local\Temp\ipykernel_26112\923980823.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[columns_to_convert] = df[columns_to_convert].replace({"Yes": 1, "No": 0}).fillna(0).astype(int)

#### Columns to Covert

In [265]:
columns_to_convert = [
    "Speech Delay/Language Disorder",
    "Learning disorder",
    "Genetic_Disorders",
    "Depression",
    "Global developmental delay/intellectual disability",
    "Social/Behavioural Issues",
    "Jaundice","Family_mem_with_ASD","Anxiety_disorder"
]

df[columns_to_convert] = df[columns_to_convert].replace({"Yes": 1, "No": 0})

In [266]:
df[columns_to_convert] = df[columns_to_convert].replace({"Yes": 1, "No": 0}).infer_objects(copy=False).astype(int)

In [267]:
# Lists the data types of all columns
print(df.dtypes)

CASE_NO_PATIENT'S                                       int64
A1                                                      int64
A2                                                      int64
A3                                                      int64
A4                                                      int64
A5                                                      int64
A6                                                      int64
A7                                                      int64
A8                                                      int64
A9                                                      int64
A10_Autism_Spectrum_Quotient                            int64
Social_Responsiveness_Scale                           float64
Age_Years                                               int64
Qchat_10_Score                                        float64
Speech Delay/Language Disorder                          int32
Learning disorder                                       int32
Genetic_Disorders                                       int32
Depression                                              int32
Global developmental delay/intellectual disability      int32
Social/Behavioural Issues                               int32
Childhood Autism Rating Scale                           int64
Anxiety_disorder                                        int32
Sex                                                    object
Ethnicity                                              object
Jaundice                                                int32
Family_mem_with_ASD                                     int32
Who_completed_the_test                                 object
ASD_traits                                              int64
dtype: object

### Descriptive Statistics

In [269]:
df.describe()

,CASE_NO_PATIENT'S,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,Learning disorder,Genetic_Disorders,Depression,Global developmental delay/intellectual disability,Social/Behavioural Issues,Childhood Autism Rating Scale,Anxiety_disorder,Jaundice,Family_mem_with_ASD,ASD_traits
count,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,...,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000,1985.000000
mean,993.000000,0.299244,0.238287,0.213098,0.272040,0.278589,0.306297,0.345088,0.243829,0.259950,...,0.541562,0.510327,0.530982,0.530982,0.523929,1.701763,0.529471,0.773804,0.329975,0.541058
std,573.164462,0.458042,0.426143,0.409600,0.445123,0.448418,0.461071,0.475517,0.429499,0.438717,...,0.498395,0.500019,0.499165,0.499165,0.499553,1.015367,0.499256,0.418473,0.470322,0.498437
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,497.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
50%,993.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
75%,1489.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000
max,1985.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000

In [271]:
df.to_csv(os.path.join(Path, '02 Data', 'Prepared Data', 'cleaned_dataset.csv'), index=False)